<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фитнес-клуб с СПА</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
</head>
<body>
<div class="background-image"></div>
<div class="container">
    <nav class="tabs">
        <div class="tab-button-wrapper">
            <div class="tab-button active" data-target="gym">Фитнес-зал</div>
            <div class="tab-button" data-target="spa">Спа</div>
            <div class="tab-button" data-target="profile">Профиль</div>
            <a href="auth/login" class="tab-button-link">Вход</a>
            <a href="auth/registration" class="tab-button-link">Регистрация</a>

        </div>
    </nav>

    <div class="tab-content-wrapper">
        <div class="tab-content active" id="gym">
            <h2>Фитнес-зал</h2>
            <p>Описание фитнес-зала и услуги, которые мы предоставляем.</p>
            <div class="indicator" data-toggle="gym">▼</div>
            <div class="details hidden">
                <p>Дополнительная информация о фитнес-зале.</p>
                <a href="purchase.html" class="btn">Купить абонемент</a>
                <a href="trainers.html" class="btn">Выбрать тренера</a>
            </div>
        </div>

        <div class="tab-content" id="spa">
            <h2>Спа</h2>
            <p>Описание спа-процедур и доступных услуг.</p>
            <div class="indicator" data-toggle="spa">▼</div>
            <div class="details hidden">
                <p>Дополнительная информация о спа-процедурах.</p>
                <a href="procedure.html" class="btn">Выбрать процедуру</a>
                <a href="membership.html" class="btn">Купить абонемент</a>
            </div>
        </div>

        <div class="tab-content" id="profile">
            <h2>Профиль</h2>
            <p>Описание Профиля.</p>
            <div class="indicator" data-toggle="profile">▼</div>
            <div class="details hidden">
                <p>Дополнительная информация о профиле.</p>
                <a href="procedure.html" class="btn">Мой профиль</a>
                <a href="membership.html" class="btn">настройки профиля</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
