<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Купить Абонемент</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
</head>
<body>
<div class="background-image"></div>
<div class="container">
    <h2>Купить Абонемент</h2>
    <div class="m-container">
        <div class="m-card">
            <h3>Обычный</h3>
            <p>Цена: 3000₽</p>
            <ul>
                <li>Доступ к тренажерному залу</li>
                <li>Доступ в спа за дополнительную плату</li>
                <li>Групповые занятия</li>
            </ul>
            <a href="/purchase/regular" class="btn">Купить</a>
        </div>

        <div class="m-card">
            <h3>Студенческий</h3>
            <p>Цена: 2000₽</p>
            <ul>
                <li>Все преимущества обычного абонемента</li>
                <li>Дополнительные 2 занятия в неделю</li>
                <li>Скидка 10% на спортивное питание</li>
            </ul>
            <a href="/purchase/student" class="btn">Купить</a>
        </div>

        <div class="m-card">
            <h3>Семейный</h3>
            <p>Цена: 8000₽</p>
            <ul>
                <li>Доступ для двух взрослых и двух детей</li>
                <li>Семейные и групповые занятия</li>
                <li>Приоритетная запись на тренировки</li>
            </ul>
            <a href="/purchase/family" class="btn">Купить</a>
        </div>

        <div class="m-card">
            <h3>Премиум</h3>
            <p>Цена: 5000₽</p>
            <ul>
                <li>Все преимущества обычного абонемента</li>
                <li>Личные тренировки 2 раза в неделю</li>
                <li>Бесплатные консультации диетолога</li>
            </ul>
            <a href="/purchase/premium" class="btn">Купить</a>
        </div>
    </div>
</div>
</body>
</html>
