<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Купить Спа Абонемент</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
</head>
<body>
<div class="background-image"></div>
<div class="container">
    <h2>Купить Спа Абонемент</h2>
    <div class="m-container">
        <div class="m-card">
            <h3>Обычный СПА</h3>
            <p>Цена: 4000₽</p>
            <ul>
                <li>Доступ в спа-зону 2 раза в неделю</li>
                <li>Скидки на массажные услуги</li>
                <li>Доступ к сауне и бассейну</li>
            </ul>
            <a href="/purchase/spa-regular" class="btn">Купить</a>
        </div>

        <div class="m-card">
            <h3>Студенческий СПА</h3>
            <p>Цена: 2500₽</p>
            <ul>
                <li>Доступ в спа-зону 1 раз в неделю</li>
                <li>Скидка 20% на услуги массажа</li>
                <li>Бесплатный доступ к сауне и бассейну</li>
            </ul>
            <a href="/purchase/spa-student" class="btn">Купить</a>
        </div>

        <div class="m-card">
            <h3>Семейный СПА</h3>
            <p>Цена: 9000₽</p>
            <ul>
                <li>Доступ для семьи (до 4 человек)</li>
                <li>Приоритетная запись на спа-процедуры</li>
                <li>Семейные скидки на массаж и процедуры</li>
            </ul>
            <a href="/purchase/spa-family" class="btn">Купить</a>
        </div>

        <div class="m-card">
            <h3>Премиум СПА</h3>
            <p>Цена: 6000₽</p>
            <ul>
                <li>Неограниченный доступ в спа-зону</li>
                <li>Личные массажные процедуры 2 раза в месяц</li>
                <li>Бесплатные консультации диетолога</li>
            </ul>
            <a href="/purchase/spa-premium" class="btn">Купить</a>
        </div>
    </div>
</div>
</body>
</html>
