<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наши специалисты</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="background-image"></div>
<div class="container-tr">
    <h2>Наши специалисты</h2>
    <div class="m-container">
        <div class="m-card">
            <img src="/images/lupnevich.jpg" alt="Липневич Анатолий" class="trainer-photo">
            <h3>Липневич Анатолий</h3>
            <p>Специализация: терапевт, массажист</p>
            <p>Опыт: 30 лет</p>
            <a href="/schedule/lupnevich" class="btn-m">Записаться на процедуру</a>
        </div>

        <div class="m-card">
            <img src="/images/kiljakov.png" alt="Киляков Павел" class="trainer-photo">
            <h3>Киляков Павел</h3>
            <p>Специализация: врач-массажист</p>
            <p>Опыт: 15 лет</p>
            <a href="/schedule/kiljakov" class="btn-m">Записаться на процедуру</a>
        </div>

        <div class="m-card">
            <img src="/images/barsukof.jpg" alt="Сергей Барсуков" class="trainer-photo">
            <h3>Сергей Барсуков</h3>
            <p>Специализация: врач дерматолог-косметолог</p>
            <p>Опыт: 10 лет</p>
            <a href="/schedule/barsukof" class="btn-m">Записаться на процедуру</a>
        </div>

        <div class="m-card">
            <img src="/images/jukova.jpg" alt="Татьяна Жукова" class="trainer-photo">
            <h3>Татьяна Жукова</h3>
            <p>Специализация: врач-дерматокосметолог</p>
            <p>Опыт: 15 лет</p>
            <a href="/schedule/jukova" class="btn-m">Записаться на процедуру</a>
        </div>
    </div>
</div>
</body>
</html>
